<p>my school </p>
<img src='assets/image/schooll.jpg' style="height: 400px; width: 800px;" alt='schooll.jpg'>



<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="name ID">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="password"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
</div>


<h3>MY SAMPLE BUTTONS</h3>
<div class="example-button-row">
  <button mat-button>1ST BUTTON</button>
  <button mat-button color="name">2ND BUTTON</button>
  <button mat-button color="accent">3RD BUTTON</button>
  <button mat-button color="warn">4TH BUTTON</button>
  <button mat-button disabled>Disabled</button>
  <button mat-button color="accent">  SEND  </button>
</div>

